################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
.tools/
obj/
publish/
bin/
*.Cache
*.db
*.user
log*.txt
*.generated

/NuGetPackages/*
